## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [1]:
aList = [100, 200, 300, 400, 500]

In [2]:
aList = [100, 200, 300, 400, 500]
def reverse_list(lst):
    return lst[::-1]
reverse_list = reverse_list(aList)
print(reverse_list)

[500, 400, 300, 200, 100]

**Output:**

In [3]:
[500, 400, 300, 200, 100]

[500, 400, 300, 200, 100]

In [4]:
aList = [100, 200, 300, 400, 500]
# code below this line

# code above this line

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [5]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [6]:
['My', 'name', 'is', 'Kelly']

['My', 'name', 'is', 'Kelly']

In [39]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

output = [list1[0] + list2[0], list1[1] + list2[1], list1[2] + list2[2], list1[3] + list2[3]]
print(output)

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [8]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [9]:
aList = [1, 2, 3, 4, 5, 6, 7]
squared_numbers = [number ** 2 for number in aList]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [10]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [11]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [19]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

output = []
for word1 in list1:
    for word2 in list2:
        output.append(word1 + word2)
print(output)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [61]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

i = 0
j = -1
output = []
while i < len(list1):
    output = (f"{list1[i]} {list2[j]}")
    print(output)
    i += 1
    j -= 1

10 400
20 300
30 200
40 100

**Output**

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
del list1[1:5:3]
print(list1)

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [21]:
list1 = [5, 10, 15, 20, 25, 50, 20]

count = 0
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        count += 1
        if count == 20:
            break
print(list1)

[5, 10, 15, 200, 25, 50, 200]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [1]:
list1 = [5, 20, 15, 20, 25, 50, 20]

print(list1[0])

5

**Output:**

In [ ]:
[5, 15, 25, 50]

print([s for s in l if s != 'Bob'])

In [3]:
list1 = [5, 20, 15, 20, 25, 50, 20]

print([i for i in list1 if i != 20])

[5, 15, 25, 50]

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [ ]:
aTuple = (10, 20, 30, 40)
for i in aTuple:
    print(i)

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [22]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print("tuple1 =", tuple1)
print("tuple2 =", tuple2)

tuple1 = (99, 88)
tuple2 = (11, 22)

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

**Output**

In [ ]:
2

In [7]:
tuple1 = (50, 10, 60, 70, 50)
count = 0
for i in tuple1:
    if i == 50:
        count += 1
print(count)

2

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [ ]:
tuple1 = (45, 45, 45, 45)
tuple1[0] == tuple1[1] == tuple1[2] == tuple1[3]